h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-box label {
  position: relative;
  top: 0;
  left: 0;
  color: #03e9f4;
  padding: 10px 0;
  font-size: 20px;
  pointer-events: none;
  transition: 0.5s;
}