.card {
    font-family: sans-serif;
    margin: auto;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 30px;
    transform: translate(0, 15%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 75%;
    }
  }
  